<div
      id="buscadorplanols"
      
    >
      <div class="card">
        <div class="card-header"><strong>Buscador de plànols</strong></div>
        <div class="card-body">
          <form class="row">
            <div class="form-group col-md-12 text-center">
              <label style="font-weight: 1000"
                >Escriu el número de OF i prem buscar.</label
              ><br /><br />
              <div class="text-center" style="position: relative; left: 42%">
                <input
                  class="form-control col-md-2"
                  id="bateriabuscada"
                  type="text"
                  placeholder="Bateria.."
                />
              </div>
            </div>
          </form>
          <br />
          <div class="row">
            <div class="col-12 text-center">
              <button
                class="btn btn-dark text-center col-md-1 "
                onclick="BuscarPlanol()"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />