<div
      id="esquemes"
      
    >
      <div class="card">
        <div class="card-header"><strong>Esquemes Estàndard</strong></div>
        <div class="card-body col-12 text-center">
          <form class="row" style="margin-left: 11%">
            <div class="form-group col-md-2">
              <label style="font-weight:1000">Geometria</label>
              <div>
                <input
                  class="form-control"
                  id="geometriaEsquema"
                  type="text"
                  placeholder="Geometria"
                />
              </div>
            </div>
            <div class="form-group col-md-2">
              <label style="font-weight:1000">Tubs</label>
              <div>
                <input
                  class="form-control"
                  id="tubsEsquema"
                  type="text"
                  placeholder="Tubs"
                />
              </div>
            </div>
            <div class="form-group col-md-2">
              <label style="font-weight:1000">Files</label>
              <div>
                <input
                  class="form-control"
                  id="filesEsquema"
                  type="text"
                  placeholder="Files"
                />
              </div>
            </div>
            <div class="form-group col-md-2">
              <label style="font-weight:1000">Circuits</label>
              <div>
                <input
                  class="form-control"
                  id="circuitsEsquema"
                  type="text"
                  placeholder="Circuits"
                />
              </div>
            </div>
            <div class="form-group col-md-2">
              <label style="font-weight:1000">Posició</label>
              <div>
                <input
                  class="form-control"
                  id="posicioEsquema"
                  type="text"
                  placeholder="Posició"
                />
              </div>
            </div>
          </form>
          <br />
          <div class="row">
            <div class="col-12 text-center">
              <button
                class="btn btn-dark text-center col-md-1 "
                onclick="BuscarEsquema()"
              >
                Obrir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>