/* css stylesheet for CLTF project - AitorCerezo */
body {
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);    
    overflow: hidden;
}
