/* css stylesheet for CLTF project - AitorCerezo */
/*body {
    background: #b92b27;
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);
    background: linear-gradient(to left, #1565C0, #b92b27);    
    overflow: hidden;
}
*/
body {
    background: #b9b9b9;
    overflow: hidden;
}